//Typography
$font-default: 16px;
$font-small: 12px;
$font-medium: 22px;
$font-big: 32px;

//Color
$red: rgb(224, 89, 104);
$green: rgb(189, 228, 113);
$pastel-green: rgb(121, 202, 121);
$light-green: rgb(194, 226, 132);
$light-grey: rgb(253, 253, 253);
$dark-grey: rgb(134, 123, 123);

//Forms
$input-height: 34px;
